body {
	background-color: rgb(184, 187, 183);
}

h1 {
	user-select: none;
}

.game-canvas {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	cursor: none;
}

#game-canvas {
	border: 6px solid black;
	background-color: #c4a484;
	z-index: 1;
}

#obstacle-canvas {
	border: 6px solid black;
	background-color: transparent;
	z-index: 2;
	pointer-events: none;
}

#slider-container,
#jumbotron-container {
	width: 80%;
	display: flex;
	justify-content: center;
}

.jumbotron-box {
	display: inline-block;
	width: 100px;
	height: 50px;
	margin: 5px;
	background-color: lightblue;
	transition: filter 0.3s;
	cursor: pointer;
	overflow: hidden;
}

.jumbotron-box.active {
	filter: none;
	border-style: ridge;
	border-color: black;
}

.jumbotron-box.inactive {
	filter: blur(2px);
}
